* {
  margin: 0;
  padding: 0;
}
body {
  color: #181818;
  background-image: url(../images/square.png);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
}
.wrapper {
  max-width: 1200px;
  background-color: #fffdf3;
  color: #000288;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 10px;
  overflow: hidden;
}
.wrapper .header {
  margin-left: 20px;
}
.wrapper .article {
  margin-left: 10px;
  margin-right: 10px;
}
.wrapper .article .section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.wrapper .article .section table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #000000;
  margin-bottom: 10px;
}
.wrapper .article .section table td:nth-child(1) {
  width: 30px;
}
.wrapper .article .section table td:nth-child(2) {
  width: 40%;
}
.wrapper .article .section table td:nth-child(3) {
  width: 60%;
}
.wrapper .article .section table th,
.wrapper .article .section table td {
  padding: 5px 10px;
  border: 1px solid #000000;
}
.wrapper .article .section table .task {
  background: #ffffff;
}
.wrapper .article .section table .position p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.wrapper .article .section table .text-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
}
.wrapper .article .section table .text-right {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
}
.wrapper .article .timetable {
  margin-left: 10px;
}
.wrapper .article .timetable table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #000000;
  margin-bottom: 10px;
  text-align: center;
}
.wrapper .article .timetable table th,
.wrapper .article .timetable table td {
  padding: 5px 10px;
  border: 1px solid #000000;
}
@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .wrapper .article .section {
    grid-template-columns: 1fr;
  }
}
