* {
  margin: 0;
  padding: 0;
}

body {
  color: #181818;
  background-image: url(../images/square.png);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
}

.wrapper {
  max-width: 1200px;
  background-color: #fffdf3;
  color: #000288;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 10px;
  overflow: hidden;

  .header {
    margin-left: 20px;
  }
  .article {
    margin-left: 10px;
    margin-right: 10px;
    .section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      table {
        table-layout: fixed;
        border-collapse: collapse;
        border: 1px solid rgb(0, 0, 0);
        margin-bottom: 10px;
        td:nth-child(1) {
          width: 30px;
        }
        td:nth-child(2) {
          width: 40%;
        }
        td:nth-child(3) {
          width: 60%;
        }
        th,
        td {
          padding: 5px 10px;
          border: 1px solid rgb(0, 0, 0);
        }
        .task {
          background: #ffffff;
        }

        .position p {
          margin-bottom: 10px;
          margin-top: 10px;
        }

        .text-left {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, auto);
        }

        .text-right {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, auto);
        }
      }
    }
    .timetable {
      margin-left: 10px;
      table {
        table-layout: fixed;
        border-collapse: collapse;
        border: 1px solid rgb(0, 0, 0);
        margin-bottom: 10px;
        text-align: center;
        th,
        td {
          padding: 5px 10px;
          border: 1px solid rgb(0, 0, 0);
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .wrapper .article .section {
    grid-template-columns: 1fr;
  }
}
